[submodule "etc/main.rb"]
	path = etc/main.rb
	url = https://gist.github.com/woinary/2fe9abca03a85a34d037fc8c3e6be07c
[submodule "etc/main.rs"]
	path = etc/main.rs
	url = https://gist.github.com/woinary/123651b31ac1317431f9c01ba7e982af
[submodule "etc/main.py"]
	path = etc/main.py
	url = https://gist.github.com/woinary/aa643fab73a1bf58efd7e8557f26dbca
[submodule "etc/slice_test.py"]
	path = etc/slice_test.py
	url = https://gist.github.com/woinary/aa643fab73a1bf58efd7e8557f26dbca
[submodule "etc/paiza_learning_python3_string.py"]
	path = etc/paiza_learning_python3_string.py
	url = https://gist.github.com/woinary/366e6abcfb90e524f877b940e82e87fb
[submodule "etc/test.md"]
	path = etc/test.md
	url = https://gist.github.com/woinary/6f0f06f5234ccb7c989a61b9157cedce
[submodule "blog/tech-null-safty/error_return_part2.go"]
	path = blog/tech-null-safty/error_return_part2.go
	url = https://gist.github.com/woinary/e58415acdb421734a00f9e3de1e61cbc
[submodule "blog/tech-null-safty/nullpo_err2_refine_part.go"]
	path = blog/tech-null-safty/nullpo_err2_refine_part.go
	url = https://gist.github.com/woinary/c0f7beeaf3ade4656f81e79192c5a2a8
[submodule "blog/tech-null-safty/nullpo_err2.go"]
	path = blog/tech-null-safty/nullpo_err2.go
	url = https://gist.github.com/woinary/a72fd887512e636a562b5c814bdac942
[submodule "blog/tech-null-safty/nullpo_err1.go"]
	path = blog/tech-null-safty/nullpo_err1.go
	url = https://gist.github.com/woinary/400acc107ea46c929b9577ce8ac5376a
[submodule "blog/tech-null-safty/nullpo.go"]
	path = blog/tech-null-safty/nullpo.go
	url = https://gist.github.com/woinary/fe2b6f61b16e4d3b3e7da3aac7e079b0
[submodule "blog/tech-null-safty/num_add_bufio.go"]
	path = blog/tech-null-safty/num_add_bufio.go
	url = https://gist.github.com/woinary/d223efda8d8b976a403832d84b444e00
[submodule "blog/tech-null-safty/num_add.go"]
	path = blog/tech-null-safty/num_add.go
	url = https://gist.github.com/woinary/bfdf25b833edb174bffaad72f18e7d3b
[submodule "blog/tech-null-safty/hello_scan.go"]
	path = blog/tech-null-safty/hello_scan.go
	url = https://gist.github.com/woinary/e8d808489326626a03cbf3e17f2cecce
[submodule "blog/tech-null-safty/hello.go"]
	path = blog/tech-null-safty/hello.go
	url = https://gist.github.com/woinary/8932e8a4431e53378237b7c856a200a7
[submodule "blog/tech-null-safty/num_add_refine_fir.swift"]
	path = blog/tech-null-safty/num_add_refine_fir.swift
	url = https://gist.github.com/woinary/96a5aab65a1ea4a9e26fef6c6dc661d6
[submodule "blog/tech-null-safty/num_add_refine.swift"]
	path = blog/tech-null-safty/num_add_refine.swift
	url = https://gist.github.com/woinary/5d6fc521a7ab677cf758dd9e59f4074e
[submodule "blog/tech-null-safty/num_add.swift"]
	path = blog/tech-null-safty/num_add.swift
	url = https://gist.github.com/woinary/dd180f456deb9fb5402b9ac238b36125
[submodule "blog/tech-null-safty/hello_refine.swift"]
	path = blog/tech-null-safty/hello_refine.swift
	url = https://gist.github.com/woinary/51eaca6d7495e60d9bf07260af7f112d
[submodule "blog/tech-null-safty/hello.swift"]
	path = blog/tech-null-safty/hello.swift
	url = https://gist.github.com/woinary/d8437fa4f5306b970a92a0b10e0139a1
[submodule "blog/tech-dart-tour-1/basic_dart_program.dart"]
	path = blog/tech-dart-tour-1/basic_dart_program.dart
	url = https://gist.github.com/woinary/c8e64d265727b84df3a878effc65740d
[submodule "blog/tech-dart-tour-1/integer_object.dart"]
	path = blog/tech-dart-tour-1/integer_object.dart
	url = https://gist.github.com/woinary/af2f2c4a93b813305996eb6fa6f3afd8
[submodule "blog/tech-dart-tour-1/type_anotation.dart"]
	path = blog/tech-dart-tour-1/type_anotation.dart
	url = https://gist.github.com/woinary/af04f212693172d7c2df3fd41557628a
[submodule "blog/tech-dart-tour-1/null_safety.dart"]
	path = blog/tech-dart-tour-1/null_safety.dart
	url = https://gist.github.com/woinary/b30f3f1bc4149e7e040ee1c7c14caf44
[submodule "blog/tech-dart-tour-1/object.dart"]
	path = blog/tech-dart-tour-1/object.dart
	url = https://gist.github.com/woinary/d8fcbc3445bf911b69ecc7a2a9074195
[submodule "blog/tech-dart-tour-1/dynamic.dart"]
	path = blog/tech-dart-tour-1/dynamic.dart
	url = https://gist.github.com/woinary/1328503cb4f61258a92bcf29e9c2eb15
[submodule "blog/tech-dart-tour-1/dynamic_sample.dart"]
	path = blog/tech-dart-tour-1/dynamic_sample.dart
	url = https://gist.github.com/woinary/c7f970f327448679d29aabce5567dc84
[submodule "blog/tech-dart-tour-1/generic_list.dart"]
	path = blog/tech-dart-tour-1/generic_list.dart
	url = https://gist.github.com/woinary/b01c1bf2ac0cb5807f5dd2268948b04d
[submodule "blog/tech-dart-tour-1/class.dart"]
	path = blog/tech-dart-tour-1/class.dart
	url = https://gist.github.com/woinary/53ad2738c6eec58f83bb2c4f4f5e1dee
[submodule "blog/tech-dart-tour-1/inner_func.dart"]
	path = blog/tech-dart-tour-1/inner_func.dart
	url = https://gist.github.com/woinary/9dcea003d3039ea6d3168f0c3a1e9c46
[submodule "blog/tech-dart-tour-1/variables.dart"]
	path = blog/tech-dart-tour-1/variables.dart
	url = https://gist.github.com/woinary/40f8fa9af40b5740d6b05a291f512746
[submodule "blog/tech-dart-tour-1/default_value.dart"]
	path = blog/tech-dart-tour-1/default_value.dart
	url = https://gist.github.com/woinary/ec44f7340a20817d8ae75e59419f5c70
[submodule "blog/tech-dart-tour-1/late_variables.dart"]
	path = blog/tech-dart-tour-1/late_variables.dart
	url = https://gist.github.com/woinary/a90341e36caee91640d734a5c08b3ae1
[submodule "blog/tech-dart-tour-1/final_and_const.dart"]
	path = blog/tech-dart-tour-1/final_and_const.dart
	url = https://gist.github.com/woinary/4f085f4156a180e92d130750488ac3ad
[submodule "blog/tech-dart-tour-1/list_spread.dart"]
	path = blog/tech-dart-tour-1/list_spread.dart
	url = https://gist.github.com/woinary/e7c6f2d0fe618fe4af54c59f9cfcc4bd
[submodule "blog/tech-dart-tour-1/list_collection_if_for.dart"]
	path = blog/tech-dart-tour-1/list_collection_if_for.dart
	url = https://gist.github.com/woinary/4f7ff09c59e6b54a914a37433af8b78e
[submodule "blog/tech-dart-tour-1/set_collection.dart"]
	path = blog/tech-dart-tour-1/set_collection.dart
	url = https://gist.github.com/woinary/606a613da72fbc1e8016639fbd644249
[submodule "blog/tech-dart-tour-1/maps.dart"]
	path = blog/tech-dart-tour-1/maps.dart
	url = https://gist.github.com/woinary/b3fdac8463cf1b293ec7973b3653a9e0
[submodule "blog/tech-dart-tour-2/functions.dart"]
	path = blog/tech-dart-tour-2/functions.dart
	url = https://gist.github.com/woinary/b4b86401706199a6852caa649db0dd5c
[submodule "blog/tech-dart-tour-2/named_parameters.dart"]
	path = blog/tech-dart-tour-2/named_parameters.dart
	url = https://gist.github.com/woinary/f362eeb60d0571c63a709506345dd5a9
[submodule "blog/tech-dart-tour-2/optional_position_parameters.dart"]
	path = blog/tech-dart-tour-2/optional_position_parameters.dart
	url = https://gist.github.com/woinary/db2bf5d0b62b0bcdea6ccb8cfe150b24
[submodule "blog/tech-dart-tour-2/default_parameters.dart"]
	path = blog/tech-dart-tour-2/default_parameters.dart
	url = https://gist.github.com/woinary/14b859fa81032fba77c5ac9afc8823af
[submodule "blog/tech-dart-tour-2/first_class_object.dart"]
	path = blog/tech-dart-tour-2/first_class_object.dart
	url = https://gist.github.com/woinary//672c9d414a15ca1841aa2e9c01fbfa9d
[submodule "blog/tech-dart-tour-2/anonymous_functions.dart"]
	path = blog/tech-dart-tour-2/anonymous_functions.dart
	url = https://gist.github.com/woinary/060606f31e73a10b3e24280ea9f6f30d
[submodule "blog/tech-dart-tour-2/lexical_scope.dart"]
	path = blog/tech-dart-tour-2/lexical_scope.dart
	url = https://gist.github.com/woinary/0aee99b1f0e13e6d511c6c9ba43e0d0b
[submodule "blog/tech-dart-tour-2/lexical_scope2.dart"]
	path = blog/tech-dart-tour-2/lexical_scope2.dart
	url = https://gist.github.com/woinary/5e2656fafcb1b8acb634dae3f59e499b
[submodule "blog/tech-dart-tour-2/lexical_scope3.dart"]
	path = blog/tech-dart-tour-2/lexical_scope3.dart
	url = https://gist.github.com/woinary/5d427051051392608832745e6b89ec5e
[submodule "blog/tech-dart-tour-2/lexical_closure.dart"]
	path = blog/tech-dart-tour-2/lexical_closure.dart
	url = https://gist.github.com/woinary/aa01efd9d0829dd8f86ab56a3ae3f083
[submodule "blog/tech-dart-tour-3/other_operators.dart"]
	path = blog/tech-dart-tour-3/other_operators.dart
	url = https://gist.github.com/woinary/18b6ea5be0c1debcace76ee5c076a6ea
[submodule "blog/tech-dart-tour-3/cascade.dart"]
	path = blog/tech-dart-tour-3/cascade.dart
	url = https://gist.github.com/woinary/f8d9f093c72b362ba2f58f58f74315b4
[submodule "blog/tech-dart-tour-4/if_else.dart"]
	path = blog/tech-dart-tour-4/if_else.dart
	url = https://gist.github.com/woinary/75bed05f65d58711c26c0f20208ff93b
[submodule "blog/tech-dart-tour-4/for_loop.dart"]
	path = blog/tech-dart-tour-4/for_loop.dart
	url = https://gist.github.com/woinary/f82ebc259bb69270cde777f0a567dda9
[submodule "blog/tech-dart-tour-4/for_in.dart"]
	path = blog/tech-dart-tour-4/for_in.dart
	url = https://gist.github.com/woinary/9e6f304c0b97b75343d16c6ba29653c4
[submodule "blog/tech-dart-tour-4/while_loop.dart"]
	path = blog/tech-dart-tour-4/while_loop.dart
	url = https://gist.github.com/woinary/a297f877279861aae8f8f814fac16e28
[submodule "blog/tech-dart-tour-4/break_continue.dart"]
	path = blog/tech-dart-tour-4/break_continue.dart
	url = https://gist.github.com/woinary/12abcb3c9546c48201133dbf723a8690
[submodule "blog/tech-dart-tour-4/switch_case.dart"]
	path = blog/tech-dart-tour-4/switch_case.dart
	url = https://gist.github.com/woinary/ab2910fef9e89b9607a80493c9bdd7f7
[submodule "blog/tech-dart-tour-4/finally.dart"]
	path = blog/tech-dart-tour-4/finally.dart
	url = https://gist.github.com/woinary/e7617f6a0965a4b151a986936d3a848d
[submodule "blog/tech-dart-tour-5/class.dart"]
	path = blog/tech-dart-tour-5/class.dart
	url = https://gist.github.com/woinary/b974f1a277fbd787be6828c260c30622
[submodule "blog/tech-dart-tour-5/const_constructor.dart"]
	path = blog/tech-dart-tour-5/const_constructor.dart
	url = https://gist.github.com/woinary/0ef3be46198f8fef310d3c4f6d103991
[submodule "blog/tech-dart-tour-5/runtimeType.dart"]
	path = blog/tech-dart-tour-5/runtimeType.dart
	url = https://gist.github.com/woinary/fbc31ae80b90c5cd7042b8f917841b7c
[submodule "blog/tech-dart-tour-5/instance_variable.dart"]
	path = blog/tech-dart-tour-5/instance_variable.dart
	url = https://gist.github.com/woinary/3d14392cf4fb3e2dfe977a62810867fb
[submodule "blog/tech-dart-tour-5/final_instance_variable.dart"]
	path = blog/tech-dart-tour-5/final_instance_variable.dart
	url = https://gist.github.com/woinary/7be0f3169d7719049c10aa3a4b8d2d9c
[submodule "blog/tech-dart-tour-5/late_final_instance_variable.dart"]
	path = blog/tech-dart-tour-5/late_final_instance_variable.dart
	url = https://gist.github.com/woinary/f604bd65eb0c81a08e3ebc70d564e882
[submodule "blog/tech-dart-tour-5/class_constructor.dart"]
	path = blog/tech-dart-tour-5/class_constructor.dart
	url = https://gist.github.com/woinary/7b02dacf89d71292e84e0aec4f199857
[submodule "blog/tech-dart-tour-5/class_named_constructor.dart"]
	path = blog/tech-dart-tour-5/class_named_constructor.dart
	url = https://gist.github.com/woinary/3d6dbb82b3d2443f0987fc63792368c2
[submodule "blog/tech-dart-tour-5/class_invoke_non_default_constructor.dart"]
	path = blog/tech-dart-tour-5/class_invoke_non_default_constructor.dart
	url = https://gist.github.com/woinary/386d6e19f01210b2c6a4756a134e6db7
[submodule "blog/tech-dart-tour-5/class_initializer_list.dart"]
	path = blog/tech-dart-tour-5/class_initializer_list.dart
	url = https://gist.github.com/woinary/5115a204b239644aab3ad60e704d294c
[submodule "blog/tech-dart-tour-5/class_constructor_redirecting.dart"]
	path = blog/tech-dart-tour-5/class_constructor_redirecting.dart
	url = https://gist.github.com/woinary/b5abf76a51ae536d2e9afdc98651f031
[submodule "blog/tech-dart-tour-5/class_const_constructor.dart"]
	path = blog/tech-dart-tour-5/class_const_constructor.dart
	url = https://gist.github.com/woinary/371b78dea4c2ecce216a61d1235147a9
[submodule "blog/tech-dart-tour-5/class_factory_constructor.dart"]
	path = blog/tech-dart-tour-5/class_factory_constructor.dart
	url = https://gist.github.com/woinary/f77457d2a2e4ac1d57d9ffcd463af306
[submodule "blog/tech-dart-tour-5/class_instance_methods.dart"]
	path = blog/tech-dart-tour-5/class_instance_methods.dart
	url = https://gist.github.com/woinary/e078988e41529bd5972c53aa12019c2b
[submodule "blog/tech-dart-tour-5/class_operator.dart"]
	path = blog/tech-dart-tour-5/class_operator.dart
	url = https://gist.github.com/woinary/cd5f5ebf25a938e8fb1766b643f106f2
[submodule "blog/tech-dart-tour-5/class_getter_setter.dart"]
	path = blog/tech-dart-tour-5/class_getter_setter.dart
	url = https://gist.github.com/woinary/864b83b63b4e7f6cee410c265a2f889b
[submodule "blog/tech-dart-tour-5/class_abstract_methods.dart"]
	path = blog/tech-dart-tour-5/class_abstract_methods.dart
	url = https://gist.github.com/woinary/178e89f110e5d7ad6c98534e946d7a2d
[submodule "blog/tech-dart-tour-5/class_implicit_interface.dart"]
	path = blog/tech-dart-tour-5/class_implicit_interface.dart
	url = https://gist.github.com/woinary/6dd3b29a8c00638c0f4b37fe747c6c4f
[submodule "blog/tech-dart-tour-5/class_extends.dart"]
	path = blog/tech-dart-tour-5/class_extends.dart
	url = https://gist.github.com/woinary/6d2493b658225a02c58bf0a48a715fbe
[submodule "blog/tech-dart-tour-5/class_enum.dart"]
	path = blog/tech-dart-tour-5/class_enum.dart
	url = https://gist.github.com/woinary/582c34847584ace27db9554dc7fe73a2
[submodule "blog/tech-dart-tour-5/class_mixin.dart"]
	path = blog/tech-dart-tour-5/class_mixin.dart
	url = https://gist.github.com/woinary/f9705f6eb4f8297d41b167dcd8b36e39
[submodule "blog/tech-dart-tour-5/class_static_variables.dart"]
	path = blog/tech-dart-tour-5/class_static_variables.dart
	url = https://gist.github.com/woinary/77d8e2832757d02d7ad78b0b9cfae615
[submodule "blog/tech-dart-tour-5/class_static_methods.dart"]
	path = blog/tech-dart-tour-5/class_static_methods.dart
	url = https://gist.github.com/woinary/5aadd59b877a57b43c8351a3a7356b05
[submodule "blog/tech-dart-tour-6/simple_generics.dart"]
	path = blog/tech-dart-tour-6/simple_generics.dart
	url = https://gist.github.com/woinary/37c1e16876e24fd0840cd07a668cf29c
[submodule "blog/tech-dart-tour-6/generics_type_parameter.dart"]
	path = blog/tech-dart-tour-6/generics_type_parameter.dart
	url = https://gist.github.com/woinary/b5ddf8446d523d0f464cb9a1c3264549
[submodule "blog/tech-dart-tour-6/generics_collection_literals.dart"]
	path = blog/tech-dart-tour-6/generics_collection_literals.dart
	url = https://gist.github.com/woinary/45e8c10bd66fa6ca3854a573b53346d1
[submodule "blog/tech-dart-tour-6/generics_collection.dart"]
	path = blog/tech-dart-tour-6/generics_collection.dart
	url = https://gist.github.com/woinary/737c2f1041a9efa8de04187bd9f60f84
[submodule "blog/tech-dart-tour-6/generics_restricting.dart"]
	path = blog/tech-dart-tour-6/generics_restricting.dart
	url = https://gist.github.com/woinary/54404a23ab722fe6ca1a5692bcb3f409
[submodule "blog/tech-dart-tour-6/generics_methods.dart"]
	path = blog/tech-dart-tour-6/generics_methods.dart
	url = https://gist.github.com/woinary/e7ddbf46053cf6c6b7aa6db0912c8b20
[submodule "blog/tech-dart-tour-6/generics_parameterized_constructor.dart"]
	path = blog/tech-dart-tour-6/generics_parameterized_constructor.dart
	url = https://gist.github.com/woinary/6fce6dd57886522d9e29511df26c4dbd
[submodule "blog/tech-dart-tour-7/async_sample.dart"]
	path = blog/tech-dart-tour-7/async_sample.dart
	url = https://gist.github.com/woinary/f51743c8e4c8d5887d6b0be0fccef9c4
[submodule "blog/tech-dart-tour-8/generators_iterable.dart"]
	path = blog/tech-dart-tour-8/generators_iterable.dart
	url = https://gist.github.com/woinary/cb27b099a807d0890ad84d34eb6277c1
[submodule "blog/tech-dart-tour-8/generators_stream.dart"]
	path = blog/tech-dart-tour-8/generators_stream.dart
	url = https://gist.github.com/woinary/500addaf39b00280f26adc6994856fd0
[submodule "blog/tech-dart-tour-8/generators_recursive.dart"]
	path = blog/tech-dart-tour-8/generators_recursive.dart
	url = https://gist.github.com/woinary/fe09192421ade9f9189a9ddab52c3ab0
[submodule "blog/tech-dart-tour-8/callable_class.dart"]
	path = blog/tech-dart-tour-8/callable_class.dart
	url = https://gist.github.com/woinary/bf577ba5ef507d4b5129d39ad5f130e9
[submodule "blog/tech-dart-tour-8/typedefs.dart"]
	path = blog/tech-dart-tour-8/typedefs.dart
	url = https://gist.github.com/woinary/2998103a3fc0d41a7af00f8317d14238
[submodule "blog/tech-dart-tour-8/typedef_function.dart"]
	path = blog/tech-dart-tour-8/typedef_function.dart
	url = https://gist.github.com/woinary/2763ae398e3226ec39c578b92308befb
[submodule "blog/tech-dart-tour-8/metadata.dart"]
	path = blog/tech-dart-tour-8/metadata.dart
	url = https://gist.github.com/woinary/bee420af3c190f5d923ecb4d4d38cb9f
[submodule "TheRustProgrammingLanguage/exercise-3-1"]
	path = TheRustProgrammingLanguage/exercise-3-1
	url = https://gist.github.com/woinary/d0c97fa5fc6f7c83e246bb256abe099c
[submodule "TheRustProgrammingLanguage/exercise-3-2"]
	path = TheRustProgrammingLanguage/exercise-3-2
	url = https://gist.github.com/woinary/bb159b0ad308e87175fab6731c3f706d
[submodule "TheRustProgrammingLanguage/exercise-3-3"]
	path = TheRustProgrammingLanguage/exercise-3-3
	url = https://gist.github.com/woinary/c75d4ecbc7f8e07b7de16af2ff488ef3
[submodule "TheRustProgrammingLanguage/exercise-8-1"]
	path = TheRustProgrammingLanguage/exercise-8-1
	url = https://gist.github.com/woinary/dc233ae1e214d93214be7b4b499e9f10
[submodule "TheRustProgrammingLanguage/exercise-8-2"]
	path = TheRustProgrammingLanguage/exercise-8-2
	url = https://gist.github.com/woinary/c43922c2356bbc84e0dcee0d492a799a
[submodule "TheRustProgrammingLanguage/exercise-8-3"]
	path = TheRustProgrammingLanguage/exercise-8-3
	url = https://gist.github.com/woinary/788d43ec8a1a2c66cb99617dfbccfdcf
